mat-form-field {
    width: 90%;
  }
  .btn-sec {
    margin-right: 2rem !important;
    text-align: right;
  }

  .btn:focus {
    background-color: rgb(50, 181, 221);
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }

  button {
    border: none;
    border-radius: 2px;
  }

  // @media (max-width: 800px) {
  //   .btn-sec {
  //     margin-right: 1rem !important;
  //   }
  // }
  // @media (max-width: 600px) {
  //   .btn-sec {
  //     margin-right: 1rem !important;
  //   }
  // .btn {
  //   padding: 10px;
  //   border-radius: 2px;
  //   }

  //   .active {
  //     background-color: orangered !important;
  //   }
  //}

  ::ng-deep .mat-form-field .mat-form-field-infix {
    background-color: #F3F3F3;
  }
  