.main-wrapper {
    height: 100vh;  
}

.header {
    background-color: #104663;
    height: 100px;
}

.container {
    height: 100%;
}

button {
    width: 75%;
    font-size: 10pt;
    padding: 5px;
}