<div class="main-wrapper">
  <div class="row header mb-5"></div>
  <div class="container content">
    <div class="row" style="background-color: #F3F3F3;">
      <div class="col-md-2 m-3">
        <h4 class="p-1">Sales Log</h4>
      </div>
      <div class="col-md-2 m-3">
        <button (click)="openNewLogDialog()">
          <i class="material-icons pt-2" style="position: absolute; left: 18px; top:-4px;">control_point</i>
            New Task
        </button>
      </div>
    </div>
    <app-log-details></app-log-details>
  </div>
</div>

